* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
    
body {
    background-color: #111;
    margin: 8px;
}

.columns {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.column {
    display: flex;
    flex-direction: column;
}

.slot {
    width: 80px;
    height: 80px;
    margin: 6px;
    transition: background-color .2s ease-in;
    background-color: #333;

    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    padding: 3pt;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
}

.active {
    background-color: green;
}

.controllerState {
    position: fixed;
    top:8px;
    left:8px;
    padding: 3pt;
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;

}

.fader {
    -webkit-appearance: slider-vertical;
    width:80px;
    height:160px;
    margin: 8px;
}

.param {

}

.faderContainer {
    filter: hue-rotate(90deg);
}

.columnHeader {
    /* display: flex; */
    /* flex-direction: column; */
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    /* padding: 3pt; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width:80px;
    text-align: center;
    margin: 6px;
    
    

}