* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
    
body {
    background-color: #111;
    margin: 0px;
}

.controller {
    display:grid;
}

@media (orientation: landscape) {
    .controller {
        grid-template-columns: auto max-content;
        grid-template-areas: "activation paramsSet";
    }
}
  
@media (orientation: portrait) {
    .controller {
        grid-template-rows: auto max-content;
        grid-template-areas:
                  "paramsSet" 
                  "activation "
                   ;
    }

    /* TODO: instead of hardcoded 450, derive the height */
    /* .slots {
        max-height: calc(100vh - 450px);
    } */
}

.controller {
.activation {
    grid-area: activation;
}

.paramsSet {
    grid-area: paramsSet;
} 

.columns {
    display: flex;
    flex-direction: row;
    margin: 8px;
}

.column {
    margin:6px;
    width: 80px;
}

.slots {
    overflow-y:auto;
    overflow-x: hidden;
}

.slot {
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    transition: background-color .2s ease-in;
    background-color: #333;

    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    padding: 3pt;

    overflow: hidden;
    text-overflow: ellipsis;

    cursor: pointer;
    user-select: none;
}

.active {
    background-color: green;
}

.controllerState {
    position: fixed;
    top:8px;
    left:8px;
    padding: 3pt;
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    z-index:100;
}

.fader {
    -webkit-appearance: slider-vertical;
    width:100%;
    height:160px;
    margin-bottom: 12px; 
}


.faderContainer {
    display: flex;
    flex-direction: column;
    margin:6px;
    width: 80px;
    filter: hue-rotate(90deg);
}

.columnHeader, .paramsHeader {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.columnHeader {
    width:80px;
    text-align: center;
    margin-bottom: 6px;  
    min-height:12pt; 
}

.paramsHeader {
    border-bottom:1px solid #444;
    text-align: center;
    margin-bottom: 6px;  
}

input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    border-radius: 15px;    
}

input[type="range"]::-moz-range-track {
    background: #053a5f;
    border-radius: 15px;
}
}

.tempo {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.tempo {
    width:120px;
    height:50px;
    background-color: #000000;
    position:fixed;
    bottom:32px;
    right:32px;

    animation-duration: 1s;
    animation-fill-mode: forwards;

    padding: 6px;
    z-index: 101;
}

.beat {
    animation-name: beat;
}

.beat1 {
    animation-name: beat1;
}

@keyframes beat {
    from {background-color: #c00;}
    to {background-color: #000000;}
}

@keyframes beat1 {
    from {background-color: #ccc;}
    to {background-color: #000000;}
}