.sequencer {
    padding:0;
    margin:0;
    box-sizing: border-box;

    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;

    user-select: none;

    padding: 16px;
}
.sequencer .track {
    display: flex;
}

.sequencer .track-name {
    width:100px;
    padding:3pt;
    flex: 0 1 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sequencer .steps {
    display: flex;
    flex: auto;
}

.sequencer .steps.disabled .step[data-active] {
    opacity: 0.2;
}

.sequencer .step {
    display: block;
    flex: 1 1 25px;
    height: 25px;
    background-color: #222;
    color: #fff;
    border: 1px solid #222;
    transition: background-color 0.4s, border 0.4s;
}

.sequencer .step[data-active] {
    background-color: #dd8f00;
    border:1px outset #dd8f00;
}

.sequencer [data-drag-action="select"] .step[data-dragging] {
    filter:brightness(1.25);
}

.sequencer [data-drag-action="deselect"] .step[data-dragging] {
    filter:brightness(0.75);
}

.sequencer .step[data-current] {
    filter: brightness(1.5);
}

.sequencer .step:nth-child(4n) {
    border-right: 1px solid #444;
}

.sequencer .step:nth-child(16n) {
    border-right: 1px solid #666;
}

.sequencer .step:last-child {
    border-right: none;
}

.sequencer .remove-track {
    border-radius: 100%;
    width: 14pt;
    height: 14pt;
    background-color: #900;
    top:2px;
    position: relative;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right:4px;
}

.switch {
    margin-left: 8px;
    margin-right: 8px;
    vertical-align: middle;
}


/* toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: darkorange;
}

input:focus + .slider {
  box-shadow: 0 0 1px darkorange;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
    display: inline-block;
    width: 16px;
    color: #000;
    text-align: center;
    margin-left: 4px;
    margin-top: 4px;
    user-select: none;
    position: absolute;
    transition: transform 0.4s;   
    transform: translateX(0px);
}

input:checked ~ .toggle-label {
  transform: translateX(16px);
}