.sequencer {
    padding:0;
    margin:0;
    box-sizing: border-box;

    color: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;

    user-select: none;

    padding: 16px;
}
.sequencer .track {
    display: flex;
}

.sequencer .track-name {
    width:100px;
    padding:3pt;
    flex: 0 1 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sequencer .steps {
    display: flex;
    flex: auto;
}

.sequencer .step {
    display: block;
    flex: 1 1 25px;
    height: 25px;
    background-color: #333;;
    color: #fff;
    border: 1px solid #333;
    transition: background-color 0.4s, border 0.4s;
}

.sequencer .step[data-active] {
    background-color: #dd8f00;
    border:1px outset #dd8f00;
}

.sequencer [data-drag-action="select"] .step[data-dragging] {
    filter:brightness(1.25);
}

.sequencer [data-drag-action="deselect"] .step[data-dragging] {
    filter:brightness(0.75);
}

.sequencer .step[data-current] {
    filter: brightness(1.5);
}

.sequencer .step:nth-child(4n) {
    border-right: 1px solid #444;
}

.sequencer .step:nth-child(16n) {
    border-right: 1px solid #666;
}

.sequencer .remove-track {
    border-radius: 100%;
    width: 14pt;
    height: 14pt;
    background-color: #900;
    top:2px;
    position: relative;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-right:4px;
}