* {
    box-sizing: border-box;
}

body {
    background-color: #191919;
    width:  100%;
    height: 100%;
    padding: 25px;
    overflow: hidden;
}

.windows {
    display: flex;
    height:100%;
    width:100%;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-betweem;

    /* background-color: red; */
}

.window {
    position: relative;

    width:100%;
    height:50%;

    background-color: #eee;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

 .shutterTop {
    position: absolute;
    top: 0;
    width:100%;
    background-color:#000;
}

.shutterBottom {
    position: absolute;
    bottom: 0;
    width:100%;
    background-color:#000;
} 

 /*
.shutterTop {
    left:-5px;
    background-color:#300;
}

.shutterBottom {
    right:-5px;
    background-color:#030;
}  
*/